<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Preference Picker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Preference Picker</h1>
<form action="#" th:action="@{/preferencePicker}" th:object="${preferencePicker}" method="post">
    <p>Enter your name: <input type="text" th:field="*{name}" /></p>
    <p>
        <input type="radio" th:field="${preferencePicker.optionSelected}" th:value="${preferencePicker.firstOption}" />
        <label th:for="${preferencePicker.optionSelected}" th:text="${preferencePicker.firstOption}"></label>
    </p>
    <p>
        <input type="radio" th:field="${preferencePicker.optionSelected}" th:value="${preferencePicker.secondOption}" />
        <label th:for="${preferencePicker.optionSelected}" th:text="${preferencePicker.secondOption}"></label>
    </p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>